<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button color="dark" expand="full" (click)="call()">CALL</ion-button>
  <ion-input [(ngModel)]="smsText" placeholder="Type a message here"></ion-input>
  <ion-button color="dark" expand="full" (click)="sendSms()">SEND SMS</ion-button>
  <ion-button color="dark" expand="full" (click)="takePicture()">TAKE PICTURE</ion-button>
  <ion-button color="dark" expand="full" (click)="browsePicture()">BROWSE PICTURE</ion-button>
  <ion-button color="dark" expand="full" (click)="getCurrentLocation()">GET CURRENT LOCATION</ion-button>
  <ion-button color="dark" expand="full" (click)="loadMap()">LOAD MAP</ion-button>
  <ion-button color="dark" expand="full" (click)="loginWithFacebook()">LOGIN WITH FACEBOOK</ion-button>

  <img [src]="image">
</ion-content>
